.contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  contain: strict;
  transform: translate3d(0, 0, 0);
}
