.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.colorPickerGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  label {
    font-size: 1rem;
    p {
      font-size: 16px;
      color: #111;
    }
  }

  input[type="color"] {
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;

  button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }

  .saveButton {
    background-color: $surface-brand; // blue-500
    color: white;
  }
}
