.container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #fdfdfe;
}

.note {
  position: absolute;
  left: 0;
  width: 30px;
  height: 100%; // Or another small, appropriate height for a tap note
  background-color: $surface-brand;
}

.longNote {
  background-color: #0057b3;
}