.container {
    width: 100%;

    padding-block: $spacing-40;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    background-color: $surface-white;

    padding: $spacing-16 $spacing-24;
    padding-right: $spacing-48;

    border-left: 6px solid $surface-brand;

    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);

    span {
        color: $text-subtle;
        font-size: 18px;
    }

    p {
        font-size: 22px;
        font-weight: 700;
    }
}

.cover {
    width: 70px;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: $radius-8;
}

.bpm {
    margin-right: $spacing-40;

    color: $text;

    opacity: 0.3;

    span {
        font-size: 32px;
        color: inherit;
    }
    p {
        font-size: 52px;
        font-weight: 700;
        color: inherit;
    }
}