.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
    z-index: 2;

    padding-top: 55px;
}

.playFieldWrap {
    height: 100vh;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    padding-inline: 3px;
    background-color: #3F6898;
}

.playFieldContainer {
    height: 100%;

    background: linear-gradient(to bottom, #CBC8C8, #E2E0E0);
    padding: $spacing-16;
    padding-top: 0;

    border: 2px solid #ffffff;
    overflow: hidden;
}

.playFieldInfo {
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.judgementLine {
    width: 100%;

    background-color: $color-black;

    padding: $spacing-12;

    border-radius: $radius-12;
}