.container {
    width: 100%;
    height: 100vh;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: blur(30px) brightness(0.8);
    transform: scale(1.2);
}

.main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.left, .right {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right  {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: $spacing-32;

    padding-top: $spacing-64;
}

.footer {
    width: fit-content;
    height: 55px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 $padding;

    background-color: $surface;

    border-radius: 0 10px 0 0;
}

.searchIcon {
    position: relative;
    right: -48px;

    color: $color-white;
}

.searchContainer {
    padding-inline: $spacing-32;

    .search {
        width: 400px;
        height: 50px;

        padding-left: $spacing-48;

        border: 0;

        color: $color-white;
        background-color: #ffffff20;

        font-size: 16px;

        &::placeholder {
            color: $color-white;
        }

        &:focus {
            outline: none;
        }
    }

    .select {
        width: 170px;
        height: 50px;

        padding-left: $spacing-12;

        border: 0;

        color: $color-white;
        background-color: #ffffff20;

        font-size: 16px;

        &:focus {
            outline: none;
        }
    }
}