.container {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0; left: 0;
    z-index: 2;
}

.main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.left, .right {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right  {
    height: calc(100vh - 55px);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: $spacing-32;

    padding-bottom: $spacing-32;

    padding-top: $spacing-64;
    box-sizing: border-box;
    min-height: 0;

    .trackListViewport {
        width: 100%;
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }
}

.trackList {
    width: 100%;
    height: 100%;
    min-height: 100%;

    overflow-y: auto;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.trackListItem {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.footer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;

    border-radius: 0 10px 0 0;

    div {
        height: 45px;

        display: flex;
        align-items: center;
        gap: $spacing-8;

        background-color: $surface;

        padding: 0 $spacing-20;
    }

    & > div:first-child {
        border-radius: 0 10px 0 0;
    }

    & > div:last-child {
        border-radius: 10px 0 0 0;
    }
}

.searchIcon {
    position: relative;
    right: -48px;

    color: $color-white;
}

.searchContainer {
    padding-inline: $spacing-32;

    .search {
        width: 400px;
        height: 50px;

        padding-left: $spacing-48;

        border: 0;

        color: $color-white;
        background-color: #ffffff20;

        font-size: 16px;

        &::placeholder {
            color: $color-white;
        }

        &:focus {
            outline: none;
        }
    }

    .select {
        width: 170px;
        height: 50px;

        padding-left: $spacing-12;

        border: 0;

        color: $color-white;
        background-color: #ffffff20;

        font-size: 16px;

        &:focus {
            outline: none;
        }
    }
}