// Padding
$padding: 24px;

// Spacing Scale
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-100: 100px;

// Radius Scale
$radius-4: 4px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-14: 14px;
$radius-16: 16px;
$radius-20: 20px;
$radius-32: 32px;
$radius-64: 64px;
$radius-full: 9999px;

$clip-hexagon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
$clip-turn-triangle: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

// Color Palette
$color-white: #FFFFFF;
$color-black: #000000;

// Text Colors
$text: #fff;
$text-subtle: #919191;

// Brand Text Colors
$text-brand: #482f48;
$text-brand-heavy: #0D8FCF;
$text-brand-subtle: #EAF8FF;

// Surface Colors
$surface: #FFFFFF;
$surface-subtle: #cccccc;
$surface-white: #FFFFFF;

// Brand Surface Colors
$surface-brand: #7a00b3;
$surface-brand-heavy: #0D8FCF;
$surface-brand-subtle: #f5d6ff;

// Border Colors
$border: #eaeaea;
$border-subtle: #E2E2E2;

// Shadow Scale
$shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);