.header {
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to bottom, $surface, #ccc);
    padding: 0 $padding;

    z-index: 1000;
}

.logo {
    height: 33px;
}

.userInfo {
    span {
        font-size: 20px;
        font-weight: bold;
    }

    div {
        height: 110px;
        width: 110px;

        @include Center;

        background: radial-gradient(#fff 20%, $surface-brand);

        clip-path: $clip-turn-triangle;
        
        img {
            height: 90px;
            aspect-ratio: 1 / 1;

            clip-path: $clip-turn-triangle;

            box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        }
    }
}

@mixin statBlock($background-color) {
    height: 100%;

    span {
        font-size: 18px;
    }

    div {
        height: 100%;
        width: 170px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $background-color;

        color: $text;

        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

        span {
            color: $text;
            font-weight: 'NEXON Lv1 Gothic OTF Bold';
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.scoreInfo {
    @include statBlock($surface-brand);
}

.perfect {
    @include statBlock(#57d000);
}

.editor{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    button{
        height: 80%;
        width: 100px;
        background: $surface-brand;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 8px;
        p{
            color: $text;
            font-weight: 'NEXON Lv1 Gothic OTF Bold';
            font-weight: bold;
            font-size: 12px;
        }
    }
}