@import "@/shared/styles/variables.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $spacing-24;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.03);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 1;
  }

  & > * {
    position: relative;
    z-index: 2;
  }
}

.formWrapper {
  width: 100%;
  max-width: 440px;
  padding: $spacing-48 $spacing-40;
  background: $surface-white;
  border-radius: $radius-20;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.0);
}

.header {
  margin-bottom: $spacing-40;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: $text-brand;
  margin-bottom: $spacing-12;
}

.subtitle {
  font-size: 16px;
  color: $text-subtle;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-24;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(225, 225, 225);
}

.input {
  width: 100%;
  padding: $spacing-14 $spacing-16;
  font-size: 15px;
  color: $text-brand;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid $border;
  border-radius: $radius-12;
  outline: none;
  transition: all 0.2s ease;
  

  &::placeholder {
    color: #eaeaea;
  }

  &:focus {
    border-color: $surface-brand;
    box-shadow: 0 0 0 4px rgba(122, 0, 179, 0.1);
  }

  &:hover {
    border-color: $surface-brand;
  }
}
.formLogo {
  display: flex;
  justify-content: center;
  margin-top: -$spacing-12;
  margin-bottom: $spacing-32;

  img {
    height: 120px;
  }
}

.error {
  font-size: 13px;
  color: $surface-danger;
  margin-top: -$spacing-4;
}

.submitButton {
  width: 100%;
  padding: $spacing-16;
  margin-top: $spacing-16;
  font-size: 16px;
  font-weight: 700;
  color: $surface-white;
  background-color: rgba(122, 0, 179, 0.7);
  border: none;
  border-radius: $radius-12;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(122, 0, 179, 0.5);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(122, 0, 179, 0.3);
  }

  &:active {
    transform: translateY(0);
  }
}

.footer {
  margin-top: $spacing-32;
  text-align: center;
}

.footerText {
  font-size: 14px;
  color: $text-subtle;
}

.link {
  color: $surface-white;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $surface-brand-heavy;
    text-decoration: underline;
  }
}
