.container{
    width: 500px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 12px;

    background-color: #000000;
    overflow: hidden;
}