.container {
  width: 500px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
  overflow: visible;
  clip-path: inset(-15% 0 0 0);
  contain: layout style;
  transform: translate3d(0, 0, 0);
}

.countdownOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
}

.countdownText {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  animation: countdownPop 0.6s ease-out;
  transform: translate3d(0, 0, 0);
}

@keyframes countdownPop {
  0% { transform: translate3d(0, 0, 0) scale(0.5); opacity: 0; }
  50% { transform: translate3d(0, 0, 0) scale(1.1); opacity: 1; }
  100% { transform: translate3d(0, 0, 0) scale(1); opacity: 1; }
}
