.container{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 12px;

    background-color: #000000;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}