.container{
    width: 400px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 12px;
}

.keyBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.key{
    width: 25%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.keypress{
    width: 25%;
    aspect-ratio: 1;
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
