.note {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #ff00ff;
  border: 1px solid #fff;
  box-sizing: border-box;

  &.hold {
    background-color: #800080;

    .tail {
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: rgba(128, 0, 128, 0.5);
    }
  }

  &.selected {
    border: 2px solid red;
  }
}
