.note {
  position: absolute;
  width: 100%;
  height: 45px;
  background: linear-gradient(to bottom, #d3e7ff, #acb3bc);

  box-sizing: border-box;

  &.hold {
    background: linear-gradient(to bottom, #69faff, #00a5c6);

    .tail {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #00aeff44;
    }
  }
}
