.container{
    width: 25%;
    height: 100%;
    border: 1px solid red;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); // Default background

    &.keyPressed {
        background-color: rgba(255, 255, 255, 0.5); // Highlight when key is pressed
    }
}
