.container{
    width: 25%;
    height: calc(100% - 30px); /* Reduce height by 30px */
    margin-bottom: 30px; /* Add margin to push content up */
    border: 1px solid rgba(255, 255, 255, 0.138);
    border-bottom: none; /* Remove bottom border */
    box-sizing: border-box;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); // Default background
    
    /* Add a pseudo-element for the judgment line */
    &::after {
        content: '';
        position: absolute;
        bottom: 200px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ff00ff;
    }

    &.keyPressed {
        background-color: rgba(255, 255, 255, 0.5); // Highlight when key is pressed
    }
}
