.container{
    width: 25%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.138);
    border-bottom: none;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    
    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: #ff51518c;
    }

    &.keyPressed {
        background-color: rgba(255, 255, 255, 0.5);
    }
}
