@mixin fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-24;

    span {
        color: $text;
    }
}

.logoContainer {
    @include fullScreen;
    z-index: 1002;
    
    background-color: $color-black;
}

.blackContainer {
    @include fullScreen;
    gap: $spacing-12;
    z-index: 1001;

    background-color: $color-black;
}

.logo {
    height: 150px;
}

.creditText {
    font-size: 16px;
}
