.container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-black;
}

.text {
    font-family: 'Galmuri', sans-serif;
    font-size: 24px;
    color: $text;
}