.container {

    transition: all 0.3s ease-in-out;
    width: 80%;

    display: flex;
    justify-content: flex-end
}

.container.selected {
    width: 95%;
}

.trackCard {
    width: 100%;
    height: 90px;

    background-color: #ffffff20;

    display: flex;

    border-radius: $radius-8 0 0 $radius-8;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in-out;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);

    &:hover {
        width: 95%;

        cursor: pointer;
    }
}

.cover {
    height: 100%;
    aspect-ratio: 1/1;

    object-fit: cover;

    border-radius: $radius-8 0 0 $radius-8;
}

.community {
    width: 35px;
    height: 100%;
    background-color: $surface-blue;

    display: flex;
    justify-content: right;

    clip-path: polygon(100% 0, 00% 0%, 100% 40%);

    svg {
        color: $text;

        width: 14px;
        height: 14px;

        margin-top: 5px;
        margin-right: 3px;
    }
}

.title {
    font-size: 24px;
    font-weight: 400;
    color: $text;

    transition: all 0.3s ease-in-out;
}

.artist {
    font-size: 18px;
    color: $color-white;
}

.trackCard.selected {
    height: 130px;

    background-color: $surface;

    .community {
        width: 40px;

        svg {
            width: 16px;
            height: 16px;

            margin-top: 6px;
            margin-right: 2px;
        }
    }

    .info {
        .title {
            font-size: 32px;
            color: inherit;
        }
        .artist {
            font-size: 24px;
            color: $text-subtle;
        }
    }
}