// 실제 게임(note-field)과 동일한 구조
// 4개 레인을 세로로 배치 (가로 에디터)
.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  border-right: 2px solid rgba(99, 102, 241, 0.5);
  background: rgba(0, 0, 0, 0.2);

  // 섹션 시작 마커 (비트)
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: rgba(99, 102, 241, 0.3);
    z-index: 20;
  }
}
